.primary {
	color: var(--primary);
}

.primary svg {
  fill: currentColor;
}

:root {
  color: var(--near-black);
}

html {
  font-size: var(--font-size);
  @media (--breakpoint-medium) {
    font-size: var(--font-size-m);
  }
  @media (--breakpoint-large) {
    font-size: var(--font-size-l);
  }
  background-color: var(--white);
}

body {
  font-family: var(--font-family);
  font-size: var(--spacing-medium);
  line-height: var(--line-height);
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--near-white);
}

p {
  margin-bottom: 1rem;
  margin-bottom: var(--spacing-medium);
  max-width: 32rem
}
